<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 sm-label-right">
      <b>EBS Volumes (optional)</b>
      <help-field key="aws.serverGroup.ebsVolumes"></help-field>
    </div>
    <div class="col-md-6">
      <input type="number"
             class="form-control input-sm"
             min="0"
             max="24"
             ng-model="blockDevicesCtrl.numberOfBlockDevices"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 sm-label-right">
      <b>Volume Size (GB)</b>
      <help-field key="aws.serverGroup.ebsVolumeSize"></help-field>
    </div>
    <div class="col-md-6">
      <input type="number"
             class="form-control input-sm"
             min="1"
             max="{{blockDevicesCtrl.volumeSizeMax}}"
             ng-required="blockDevicesCtrl.sizeRequired"
             ng-model="blockDevicesCtrl.size"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 sm-label-right"><b>Volume Type</b></div>
    <div class="col-md-2 radio">
      <label>
        <input type="radio" ng-model="blockDevicesCtrl.volumeType" ng-value="'gp2'"/>
        gp2
      </label>
    </div>
    <div class="col-md-2 radio">
      <label>
        <input type="radio" ng-model="blockDevicesCtrl.volumeType" ng-value="'standard'"/>
        standard
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 sm-label-right"><b>Delete Volumes on Termination</b></div>
    <div class="col-md-2 radio">
      <label>
        <input type="radio" ng-model="blockDevicesCtrl.deleteOnTermination" ng-value="true"/>
        Yes
      </label>
    </div>
    <div class="col-md-2 radio">
      <label>
        <input type="radio" ng-model="blockDevicesCtrl.deleteOnTermination" ng-value="false"/>
        No
      </label>
    </div>
  </div>
</div>
